
@media screen and (min-width:992px) {
  .width {
    width: 960px;
    margin: 0 auto;
  }
}


@media screen and (min-width:768px) {
  p#right {
    text-align: right;
  }
}


body {
  margin: 0;
  font-family: 'Raleway', serif;
}


$head-font-color: #C0BAB6;
$background-grey-color: #333333;
$menu-background-color: #232323;
$text-grey-color: #979797;
$text-orange-color: #FF9900;
$border-color-grey: #DEDEDE;
$links-color-grey: #666666;
$hover-color: #ff6407;

header {
  background-color: $background-grey-color;
  color: $head-font-color;

  h1{
    font-size: 35px;
    margin-bottom:0;
    margin-top: 15px;

  }

  p{
    font-size: 15px;
  }
}

#menu {
margin-top: 20px;

}


#head {
  margin-top:5px;
  margin-bottom: 5px;
}

#border {
  border:none;
  border-radius: 0;
}


.marginTop {
  margin-top: 30px;
}

.marginBottom {
  margin-bottom: 30px;
}

#four {
  margin-top: 50px;
  @extend .marginBottom;
}


.lorumBox{
  font-size: 14px;
  color: $text-grey-color;

  img{
    display: inline;
  }

  h1 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
  }
}


.lorumImg, .lorumH1 {
  float:left;
}


.lorumP {
  clear:both;
}

.styleA {
  float: right;

  a{
    color: $text-orange-color;
  }

  i {
    font-size: 10px;
  }
}


.styleA a:hover, .OneRowText a:hover, #List a:hover  {
  color: $hover-color;
  text-decoration: none;
}



#three {
  border-top: 1px solid $border-color-grey;
  border-bottom: 1px solid $border-color-grey;
  overflow: hidden;
}

.pictureBox {
  margin-top: 30px;
  margin-bottom: 15px;

  img{
    border-radius: 0;
  }
}


.OneRow {
  img{
    border-radius: 0;

  }
}


.OneRowText {
  padding-top: 15px;
  font-size: 14px;
  color: $text-grey-color;

  h1 {
    font-size: 15px;
    font-weight: bold;
  }

  a {
    color: $text-orange-color;
  }
}


#categories {
 padding-top: 10px;

  h1{
    font-size: 18px;
    font-weight: bold;
    color: $text-grey-color;
    border-bottom: 1px solid $border-color-grey;
    padding-bottom: 15px;
  }

  a{
    color: $links-color-grey;
  }

  ul{
    list-style-image: url('orange_file.gif');
   padding-left: 10px;
  }

li{
  border-bottom: 1px dotted $links-color-grey;
  padding-top: 5px;
  padding-bottom: 2px;
}
}


#bottom {
  margin-top:10px;
  @extend .marginBottom;
}

footer{
  background-color: $menu-background-color;
  color: $text-grey-color;
  font-size: 15px;
  padding-top:20px;
  padding-bottom: 5px;
}

